<div class="ui inverted segment vertical center">
    <div class="ui container">
        <div class="ui inverted secondary pointing menu">
            <a class="item" [routerLink]="['/']" routerLinkActive="active">
              Accueil
            </a>
            <a class="item" routerLink="blog" routerLinkActive="active">
              Blog
            </a>
            <a class="item" [routerLink]="['/photos']" routerLinkActive="active">
              Photos
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
