<div class="cover">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Alexis VERNOT
        </h1>
        <h2>Formateur & Développeur</h2>
    </div>
</div>


<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">We Help Companies and Companions</h3>
                <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
            <div class="six wide right floated column">
                <div class="ui card">
                    <div class="image">
                        <img src="/assets/IMG_3090.jpg">
                    </div>
                    <div class="content">
                        <a>
                          <i class="big linkedin square icon"></i>
                        </a>
                        <a>
                          <i class="big viadeo icon"></i>
                        </a>
                        <a>
                          <i class="big github icon"></i>
                        </a>
                        <a>
                          <i class="big twitter icon"></i>
                        </a>
                        <a>
                          <i class="big youtube play icon"></i>
                        </a>
                        <a>
                          <i class="big flickr icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui container grid middle aligned">
        <div class="row">
            <div class="center aligned column">
                <h2>Vous souhaitez avancer avec moi ?</h2>
                <p>Ne perdez plus un instant et n'hésitez pas à me soumettre votre projet !</p>
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button blue">
                    <i class="icon mail"></i> Par mail
                </a>
                <a class="ui huge button red">
                    <i class="icon file pdf outline"></i> Uploader un PDF
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4>About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 >Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4>Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
</div>
